<script>
	let contactsRaw = ''

	let table = []
	$: table = contactsRaw.split('\n').map(x => x.split('\t'))

	let assignTo = []
	$: (() => {
		const diff = table[0].length - assignTo.length
		if (diff === 0)
			return
		else if (diff > 0)
			assignTo = assignTo.concat(Array.from(Array(diff)).map(() => ''))
		else if (diff < 0)
			assignTo = assignTo.slice(0, diff)
	})()
	$: console.log(assignTo)

	function generate() {
		const res = table.map(row => {
			const obj = {}
			row.forEach((v, idx) => {
				const key = assignTo[idx]
				if (key === '')
					return
				obj[key] = v.trim()
			})
			return obj
		})
		let result = ''
		let _break = false
		res.forEach(obj => {
			if (_break)
				return
			if (obj.fullName && !obj.name) {
				const parts = obj.fullName.split(' ', 2)
				obj.name = parts[0]
				obj.surname = parts[1] || ''
			}
			if (!obj.fullName && obj.name && obj.surname) {
				obj.fullName = obj.name + ' ' + obj.surname
			}
			if ([obj.name, obj.surname, obj.phone].includes(undefined)) {
				alert('non sono stati inseriti i campi obbligatori: nome, cognome, numero')
				_break = true
				return
			}

			result += `BEGIN:VCARD
VERSION:3.0
FN:${obj.fullName}
N:${obj.surname};${obj.name};;;
item1.TEL:${obj.phone}
item1.X-ABLabel:
`
			if (obj.organization) {
				result += 'NOTE:Organisation 1 - Name: ' + obj.organization + '\n'
			}
			result += 'END:VCARD\n'
		})
		if (_break)
			return
		const blob = new Blob([result], {type: 'text/vcard'})
		downloadBlob(blob, 'contatti.vcf')
	}

	function downloadBlob(blob, filename) {
		// Create an object URL for the blob object
		const url = URL.createObjectURL(blob);

		// Create a new anchor element
		const a = document.createElement('a');

		// Set the href and download attributes for the anchor element
		// You can optionally set other attributes like `title`, etc
		// Especially, if the anchor element will be attached to the DOM
		a.href = url;
		a.download = filename || 'download';

		// Click handler that releases the object URL after the element has been clicked
		// This is required for one-off downloads of the blob content
		const clickHandler = () => {
		setTimeout(() => {
			URL.revokeObjectURL(url);
			a.removeEventListener('click', clickHandler);
		}, 150);
		};

		// Add the click event listener on the anchor element
		// Comment out this line if you don't want a one-off download of the blob content
		a.addEventListener('click', clickHandler, false);

		// Programmatically trigger a click on the anchor element
		// Useful if you want the download to happen automatically
		// Without attaching the anchor element to the DOM
		// Comment out this line if you don't want an automatic download of the blob content
		a.click();

		// Return the anchor element
		// Useful if you want a reference to the element
		// in order to attach it to the DOM or use it in some other way
		return a;
	}
</script>

<main>
	<h1>Google Sheets to VCard</h1>
	<p>Copia la lista dei contatti e incollala qui</p>
	<textarea bind:value={contactsRaw} placeholder="Inserisci qui i contatti"></textarea>
	{#if table[0].length > 1 }
	<div>
		<table>
			<tr>
				{#each table[0] as item, index}
				<th>
					<select bind:value={assignTo[index]}>
						<option value="" selected>(ignora)</option>
						<option value="name">Nome</option>
						<option value="surname">Cognome</option>
						<option value="phone">Numero</option>
						<option value="fullName">Nome e Cognome</option>
						<option value="organization">Organizzazione</option>
					</select>
				</th>
				{/each}
			</tr>
			{#each table as row}
			<tr>
				{#each row as item}
				<td>{item}</td>
				{/each}
			</tr>
			{/each}
		</table>
	</div>
	<div>
		<button on:click={generate}>Genera</button>
	</div>
	{/if}
</main>

<style>
	main {
		padding: 1em;
		max-width: 800px;
		margin: 0 auto;
	}
	textarea {
		width: 100%;
		height: 400px;
	}

</style>
